<section class="body-card">
   <div class="container-fluid">
      <div class="row">
         
         <div class="col-lg-6">

                 <section class="mx-auto my-5">
                     
                   <div class="card testimonial-card mt-2 mb-3">
                     <div class="card-up aqua-gradient"></div>
                     <div class="avatar mx-auto white">

                        <img src="https://png.pngtree.com/png-vector/20220807/ourmid/pngtree-man-avatar-wearing-gray-suit-png-image_6102786.png" class="rounded-circle img-fluid"
                         alt="avatar" height='350'>
                         
                     </div>
                     <div class="card-body text-center">
                       <h4 class="card-title font-weight-bold">{{employee!="" && employee['first_name']+" "+employee['last_name']}}</h4>
                       <hr>
                       <p><i class="fas fa-quote-left"></i><b>Today</b>: {{attendance.length>0 ? moment(attendance[0]['attendance_date']).format('DD-MMM-YYYY') : '-'}}</p>
                       <p><i class="fas fa-quote-left"></i><b>Working Hours</b>: 09:30 am to 07:30 pm</p>
                       <p><i class="fas fa-quote-left"></i>
                        <b>Check In</b> {{attendance.length>0 && attendance[0]['check_in'] ? moment(attendance[0]['check_in']).format('hh:mm A') : '-'}} 
                         | 
                        <b>Check Out</b> {{attendance.length>0 && attendance[0]['check_out'] ? moment(attendance[0]['check_out']).format('hh:mm A') : '-'}}</p>

                         <button type="button" class="btn btn-success btn-lg" (click)="onCheckInOut('check_in')" [disabled]="attendance.length>0 && attendance[0]['check_in']!=null">Check In</button>&nbsp;
                         <button type="button" class="btn btn-danger btn-lg" (click)="onCheckInOut('check_out')" [disabled]="attendance.length==0 || attendance[0]['check_out']!=null">Check Out</button>
                     </div>
                   </div>
                 </section>
         </div>

         <div class="col-lg-6">
                 <section class="mx-auto my-5">
                     <div class="list-group">
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action font-weight-bold card-header btn">Personal Details</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Full Name</b>: {{employee['first_name']+" "+employee['last_name']}}</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Employee ID</b>: {{employee['id']}}</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Username</b>: {{employee['loginname']}}</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Email</b>: {{employee['email']}}</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Degination</b>: {{employee['design__name']}}</a>
                       <a href="javascript:void(0)" class="list-group-item list-group-item-action"><b>Center</b>: {{employee['center__name']}}</a>
                     </div>
                 </section>

         </div>




         </div>
      </div>

</section>

<!-- modal -->
